body{
    background-color: grey;
}

.top{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: blue solid 1px;
}

h1{
    text-align: center;
    margin: 5px;
}

.Button{
    margin: 5px;
}